.mapplic-clickable:not(g),
g.mapplic-clickable > *
    opacity 1
    transition 0.6s all ease
    stroke: 1
.mapplic-clickable:not(g):hover,
g.mapplic-clickable:hover > *
    opacity 0.6
.mapplic-active,
a.mapplic-active > path,
g.mapplic-active > *
    opacity 0.6 !important
    stroke:yellow
    stroke-width: 1.5
.mapplic-pin
    &.my-new-pin
        background-image url('../img/map/icons/my-new-pin.png')
        width 20px
        height 30px
        margin-left -10px
        margin-top -15px
    &.mapplic-active
        background-color: #91bf39 !important;
// .mapplic-sidebar
//     float:right
[id^=landmarks] polygon:not(.mapplic-clickable),[id^=landmarks] path:not(.mapplic-clickable)
    fill #d6d6d6
.mapplic-dark
    .mapplic-tooltip
        background-color #333
    .mapplic-tooltip-triangle
        border-color #333 transparent transparent transparent
    .mapplic-bottom
        .mapplic-tooltip-triangle
            border-color transparent transparent #333 transparent
    .mapplic-tooltip-title
        color #fff
    .mapplic-tooltip-close
        background-image url('../img/map/icons/cross-light.png')
.mapplic-dark .mapplic-tooltip-description,
.mapplic-dark .mapplic-tooltip p
    color #bbb