footer
	background:lighten($blackColor,4%)
	color:#fff
	width:100%
	min-height:50px
	text-align:center
	p
		line-height:50px
	+above(3)
		absolute: bottom left
		p
			font-size:12px
			// color:lighten($blackColor,60%)