footer
	background:lighten($blackColor,4%)
	color:#fff
	width:100%
	// min-height:50px
	text-align:center
	p
		padding 20px 0px
		// line-height:50px
	// +above(4)
	// 	fixed: bottom left
	// 	p
	// 		font-size:11px
