.container-icons
	max-height 0px
	text-align center
	background #fff
	overflow hidden
	&.showicon
		max-height 500px
		&.ok i
			color:#A5DC86
		&.error i
			color:#F27474
	h4
		display inline-block
		vertical-align middle
	i
		vertical-align middle
		font-size 35px
