// Variables go here
$font-lato = 'Lato'
$font-raleway = 'Raleway'
$font-sans = 'Open Sans', sans-serif;
// Colores
$primaryColor = #b88d2c
$blueTwitter = #00ACED
// $bgColor= #212121
$blackColor= #393939
$grayColor = #EFEFEF
// FontSizes
$texth1 = 30px
$texth2 = 21px
$texth3 = 18px
$texth4 = 16px
// $textdh1 = 70px
// $textdh2 = 27px
// $textdh3 = 23px
// $textdh4 = 20px
$p = 15px
// Fontsizes desktop
