.shopCart
	position relative
	float right
	padding 0px 20px
	height 61px
	cursor pointer
	span
		position relative
		line-height 60px
		color #fff
		&:after
			content: attr(data-venta)
			text-align: center
			line-height 18px
			absolute top 8px right -10px
			width 18px
			height 18px
			font-size 15px
			background #FF0000
			border-radius 50%
			color #fff
			font-weight 600
	.my-dropdown
		display none
		background-color #fff
		position absolute
		right 0px
		padding 20px
		top 100%
		z-index 100
		border-radius 0px 0px 5px 5px
		box-shadow 0px 0px 4px rgba(#000, 60%)
		li
			position relative
			a
				display block
				padding 12px 10px
				color #000
				white-space nowrap
				text-decoration none
				padding-right 45px
				button
					absolute right 0px top 0px 
			ul.totales
				padding 10px 0px
				margin-top 10px
				border-top 1px solid #cccc
				li a
					text-align left
					font-size 14px
					padding 0px
					line-height 20px
					font-weight bold
					
	// &:hover
	// 	.my-dropdown
	// 		display block
