.shopCart
	absolute top 0 right 80px
	padding 0px 20px
	height 61px
	span
		position relative
		line-height 60px
		color #fff
	&:after
		content: attr(data-venta)
		text-align: center
		line-height 18px
		absolute top 8px right 8px
		width 18px
		height 18px
		background #FF0000
		border-radius 50%
		color #fff
		font-weight 600
	+from-width(4,anti-overlap:false)
		absolute top 0 right 200px
.lotesSelecionados
	padding 10px
	box-sizing border-box
	li
		text-align left
		margin-bottom 3px
		border-bottom 1px solid #cccccc
		// background $brandColor
		// box-shadow 0px 0px 2px #000 inset
		// list-style-type square
		// &:not(:last-child)
		// 	border 2px dotted #cccccc
		a
			color #000
			text-align left
			display block
			padding 7px 10px
			text-decoration none
			outline none
			&:hover,&:focus
				outline none
				
