// Fuente
@font-face
	font-family: 'panama-light'
	src: url('../fonts/Panama-Light.otf') format('opentype')
html
	height:100%
body
	height: 100%
	width:100%
	line-height: 1.3
	letter-spacing: .5px
	font-size: 13px
	background:#f6f5fa
h1,h2,h5
	font-family:'panama-light'
strong 
	font-weight: 700
small
	font-size: 70%
iframe
	width:100%
//prefijos tablas
tbody .col-mz
	&:before
		content:'Mz. '
caption,tr,td
	text-align: left!important
	font-weight: normal!important
	vertical-align: middle!important
p
	margin:0
.form-group
	label
		position:relative
		&.required:before
			content:'*'
			absolute:top -2px right -9px
			color:$primaryColor
			font-size:18px
//estilos generales del main
main.wrap-main
	padding:70px 0px 30px
	.dataTables_wrapper
		padding:10px 0px
	+from-width(600px)
		padding:0px 0px 30px
	+from-width(1200px)
		padding:20px 0px 30px
legend
	padding:10px 0px
	line-height:37px
	
