// Definimos variables para rupture
rupture.scale = 0px 400px 600px 768px 1023px 1200px 1400px
// Importamos nib y los resets Globales
@import 'nib'
global-reset()
// Importamos Flexbox

@import '/flexboxgrid/dist/flexboxgrid.css'
// Importamos variables generales
@import 'base/normalize'
@import 'base/mixins'
@import 'base/variables'
@import 'base/global'
// Importamos componentes
@import 'components/**/*.styl'
// Import Layouts
@import 'layouts/**/*.styl'
// Import Plugins
// @import 'plugins/plugin';