h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

table {
    width: 100%
}

table td {
    position: relative;
    padding: 5px;
    border: 1px dashed #ccc;
    background: url('../img/logos/logo-small.png') center center no-repeat;
    width: 50%
}

body {
    font-family: Helvetica
}

.pagare__header h3 {
    font-size: 9pt;
    text-transform: uppercase;
    text-align: right
}

.pagare__header p {
    color: #B88D2C;
    font-size: 9pt;
    padding: 5px 0 10px;
    text-align: right
}

.pagare__body p {
    font-size: 8pt;
    text-align: justify
}

.pagare__footer p {
    font-size: 9pt;
    text-align: center
}

.pagare__footer .copy {
    font-size: 9pt;
    text-align: right;
    color: #ccc;
    text-transform: uppercase
}