@import 'nib'
global-reset()
@import bootstrap
@import 'modules/**/*.styl'
@import 'home/**/*.styl'
/*
rupture.scale = 0px 400px 600px 768px 1023px 1200px
rupture.mobile-cutoff =600px
rupture.tablet-cutoff = 768px
rupture.desktop-cutoff = 1023px
rupture.hd-cutoff = 1400px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'*/