.card
	margin-bottom 20px
	&-header
		background-color $primaryColor
		border-radius 5px
		h5 a
			color #fff
			display block
			padding 10px 10px
			text-align right
			outline none
			&:hover,&:focus
				text-decoration none
.sale-resume
	margin 20px 0px
	hr.separator
		color #000
		border 0px
		margin 5px 0px
		border-bottom 1px solid #ccc
	
	table
		width 100%
		th
			font-weight bold
			&:last-child
				text-align right
		th,td
			padding 5px
			// border 1px solid #ccc
		td
			border-bottom 1px solid #ccc
		tbody
			tr
				td:last-child
					text-align right!important
		tfoot
			tr
				th,td
					text-align right!important