.sale-resume
	margin 20px 0px
	hr.separator
		color #000
		border 0px
		margin 5px 0px
		border-bottom 1px solid #ccc
	table
		width 100%
		th
			font-weight bold
			&:last-child
				text-align right
		th,td
			padding 5px
			// border 1px solid #ccc
		td
			border-bottom 1px solid #ccc
		tbody
			tr
				td:last-child
					text-align right!important
		tfoot
			tr
				th,td
					text-align right!important