.wrap-login
	min-height:600px
	width:100%
	background:lighten($blackColor,4%)
	&__header
		background:$blackColor
		width:100%
		min-height:180px
		border-bottom:1px solid #fff
		text-align:center
		padding:20px
		.header-container
			h3
				color:#fff
				margin:0px
				font-size:16px
				text-align:center
			h1
				color:#fff
				margin:5px 10px
				font-size:40px
			img
				// margin:15px auto 0px
				max-width:120px
				// border-radius:50%
				margin:0 auto
	&__body
		max-width:400px
		background:lighten($blackColor,4%)
		display:block
		margin:0 auto
		.login-form
			padding:20px 5px 0px
			max-width:400px
			margin: 0 auto
			border-radius:5px
			.btn-submit-login
				width:100%
				background:$primaryColor
				color:#fff
				text-transform:uppercase
				text-align:center
			label
				vertical-align:middle
				color:darken(#fff,20%)
			input[type='checkbox']
				margin-top:-5px!important
				vertical-align:middle!important
			a.link
				display:block
				color:$primaryColor
				text-align:center
		#infoMessage
			margin:10px 0px
			i
				vertical-align:middle
			p
				display:inline-block
				text-align:center
				vertical-align:middle
	+above(4)
		height:100%
		&__header
			padding:0px
			text-align:left
			absolute:top left
			width:100%
			.header-container
				padding:0px
				margin-top:30px
				display:flex
				align-items:center
				&__brand
					display:inline-block
					vertical-align:middle
				&__name
					display:inline-block
					vertical-align:middle
		&__body
			position:relative
			background:none
			padding-top:180px
			padding-bottom:50px
			top:50%
			transform:translateY(-50%)
			.login-form
				border:1px solid rgba($blackColor,100%)
				box-shadow:1px 1px 5px rgba($blackColor,100%)
