.wrap-login
	absolute:top left
	height:100%
	width:100%
	background:lighten($blackColor,4%)
	&__header
		absolute:top left
		background:$blackColor
		width:100%
		color:#fff
		min-height:180px
		border-bottom:1px solid #fff
	&__body
		position:relative
		padding-top:180px
		// padding-bottom:50px
		top:50%
		transform:translateY(-50%)
		max-width:400px
		display:block
		margin:0 auto
		.login-form
			border:1px solid rgba($blackColor,100%)
			box-shadow:1px 1px 5px rgba($blackColor,100%)
			padding:20px
			border-radius:5px
			.btn-submit-login
				width:100%
				background:$primaryColor
				color:#fff
				text-transform:uppercase
				text-align:center
			label
				color:lighten($grayColor,20%)
	&__footer
		padding:20px
		color:#fff
		absolute:bottom left
		width:100%
		height:50px
		text-align:center